sudo: required
language: generic

services:
   - docker

  before_install: 
   - docker build -t ayesjm/react-test -f ./client/Dockerfile.dev ./client

script:
   -  docker run -e CI=true ayesjm/react-test npm test

after_success:
   - docker build -t jlnzllc/multi-client ./client
   - docker build -t jlnzllc/mult-nginx ./nginx
   - docker build -t jlnzllc/multi-server ./server
   - docker build -t jlnzllc/multi-worker ./worker
# Log in to docker CLI
   - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
# Take those images and push them to docker hub
   - docker push jlnzllc/multi-client
   - docker push jlnzllc/multi-nginx
   - docker push jlnzllc/multi-server
   - docker push jlnzllc/multi-worker